:root{
    --font-big: min(2.2rem, 4.6vw);
    --font-small: min(20px, 2.3vw);
}
.detalhes{
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: center;
    justify-content: center;
    padding: 20px 20px;
}
.detalhes .titulo{
    font-size: 40px;
    justify-content: center;
    align-items: center;
    width: 80%;
    padding-bottom: 20px
}

.detalhes img{
    max-width: 80%;
}

.detalhes .texto{
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 18px;
    justify-content: center;
    align-items: center;
    max-width: 90%;
    padding-top: 20px;
    font-weight: 100;
}