.fundo{
    width: 800px;
    height: 470px;
    border-radius: 7px;
    margin-bottom: 7px;
    
}
.catalogo{
    margin:14px auto;
    max-width: 800px;
    color: white;
}

.catalogo article{
    display: flex;
    padding: 8px;
    width: 100%;
    margin-top: -470px;
    max-height: 470px;
}

.dadosFilme{
    display: flex;
    flex-direction: column;
    max-width: 600px;
    padding-left: 20px;
}

.dadosFilme strong{
    font-size: 24px;
}

.fotoBotao{
    opacity: 100%;
    margin-left: 20px;
}

.fotoBotao img{
    display: block;
    max-width: 270px;
    border-top-left-radius: 7px;
    border-top-right-radius: 7px;
    opacity: 100%;

}

.catalogo a{
    margin-bottom: 20px;
    margin-right: 20px;
    border-bottom-left-radius: 7px;
    border-bottom-right-radius: 7px;
    display: flex;
    font-size: 16px;
    padding-top: 8px;
    padding-bottom: 8px;
    justify-content: center;
    background-color: rgb(19, 129, 255);
    transition: all 0.4s ease;
    cursor: pointer;
    text-decoration: none;
    color: white;
    width: 100%;
    opacity: 70%;
}
.catalogo a:hover{
    color: white;
    opacity: 100%;

}