:root{
    --font-big: min(2.2rem, 4.6vw);
    --font-small: min(20px, 2.3vw);
}

.fundo{
    width: 800px;
    height: 470px;
    border-radius: 7px;
    margin-bottom: 7px;
    
}
.catalogo{
    margin:14px auto;
    max-width: 800px;
    color: white;
}

.catalogo article{
    display: flex;
    padding: 8px;
    width: 100%;
    margin-top: -470px;
    max-height: 470px;
}

.dadosFilme{
    display: flex;
    flex-direction: column;
    max-width: 600px;
    padding-left: 20px;
}

.dadosFilme strong{
    font-size: 24px;
}

.articleCont .capa{
    opacity: 100%;
}

.articleCont .fundo{
    opacity: 12%;
}

.fotoBotao{
    margin-left: 20px;
}

.fotoBotao img{
    display: block;
    max-width: 270px;
    border-top-left-radius: 7px;
    border-top-right-radius: 7px;

}

.catalogo a{
    margin-bottom: 20px;
    margin-right: 20px;
    border-bottom-left-radius: 7px;
    border-bottom-right-radius: 7px;
    display: flex;
    font-size: 16px;
    padding-top: 8px;
    padding-bottom: 8px;
    justify-content: center;
    background-color: rgb(19, 128, 255);
    transition: all 0.4s ease;
    cursor: pointer;
    text-decoration: none;
    color: white;
    width: 100%;
    opacity: 70%;
}
.catalogo a:hover{
    color: white;
    opacity: 100%;

}

.dadosFilme .campoTitulo {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.dadosFilme .sinopse {
    font-size: var(--font-small);
    overflow: hidden;
}
.dadosFilme .campoTitulo .titulo{
    font-family: 'Source Sans Pro', sans-serif;
    font-size: var(--font-big);
    color: rgb(83, 231, 69);
    overflow: hidden;
    font-weight: 600;
}
.nota{
    display: flex;
    background-color: rgba(83, 231, 69, 0.397);
    align-items: center;
    justify-content: center;
    margin-right: -8px;
    border-top-left-radius: 12px;
    border-bottom-left-radius: 12px;
    padding: 8px;
    max-height: 49.35px;

}
.nota:hover{
    cursor: pointer;
}
