.catalogo{
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 800px;
}

.catalogo article{
    display: flex;
    flex-direction: row;
    padding-bottom: 30px;
}

.dadosFilme{
    margin-top: 100px;
    display: flex;
    flex-direction: column;
    margin-left: 40px;
}

.titulo{
    padding-right: 20px;
}

.campoTitulo{
    font-size: 30px;
    padding-bottom: 20px;
}

.nota{

}

.sinopse{
    font-size: 17px;
}

.botao{
    margin-bottom: 20px;
    margin-right: 20px;
    border-radius: 4px;
    display: flex;
    font-size: 16px;
    padding-top: 8px;
    padding-bottom: 8px;
    justify-content: center;
    background-color: rgb(179, 214, 255);
    transition: all 0.5s ease;
    cursor: pointer;
    text-decoration: none;
    color: black;
}
.botao:hover{
    color: white;
    background-color: rgb(19, 129, 255);
}
.catalogo img{
    display: flex;
    width: 300px;
    max-width: 100%;
    max-height: 500px;
}