*{
  margin:0;
  padding:0;
  box-sizing: border-box;
  color: white;
}

body{
  background-color: #2f3640;
  font-family: sans-serif;
}

.app{
  display: flex;
  flex-direction: column;
  
  width: 100%;
  justify-content: center;
  align-items: center;

}